{% extends './base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h3 id=1 class="Home_text">To see your blog click "User Blog" button on navbar</h3>
            <hr>
            <h3 id=2 class="Home_text">To see other user's blogs click "Other Blogs" button on navbar</h3>
            <hr>
            <h3 id=3 class="Home_text">To see your feed click "Feed" button on navbar</h3>
        </div>
    </div> 
</div>
{% endblock %}